In [1]:
import pandas as pd 

one_df = pd.read_csv("imdb (1000 movies) in june 2022.csv")

In [2]:
one_df.head(5)

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M
1,2,The Godfather,-1972,X,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731",$134.97M
2,3,The Dark Knight,-2008,12A,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",$534.86M
3,4,The Lord of the Rings: The Return of the King,-2003,12A,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701",$377.85M
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776",$96.90M

In [3]:
one_df.dropna(inplace=True,axis=0)

In [4]:
one_df.isnull().sum()

ranking of movie      0
movie name            0
Year                  0
certificate           0
runtime               0
genre                 0
RATING                0
metascore             0
DETAIL ABOUT MOVIE    0
DIRECTOR              0
ACTOR 1               0
ACTOR 2               0
ACTOR 3               0
ACTOR 4               0
votes                 0
GROSS COLLECTION      0
dtype: int64

In [5]:
def move_(x):
    return x.replace(",","")

one_df.votes = one_df.votes.apply(move_)

In [6]:
one_df.votes = one_df.votes.astype("int64")

In [7]:
def change_price(x):
    import re
    return float(re.findall(r"(\d+\.?\d*)",x)[0])

In [8]:
#处理时长
one_df["runtime"] = one_df["runtime"].apply(lambda x:x.rstrip("min"))
one_df["runtime"] = one_df["runtime"].astype("int64")

In [9]:
#修改时间列
one_df["Year"] = one_df["Year"].apply(lambda x:x.replace('-',""))
#修改电影票房
one_df["GROSS COLLECTION"] = one_df["GROSS COLLECTION"].apply(change_price)*1000000
#票价
one_df["price"] = (one_df['GROSS COLLECTION']/one_df["votes"])

In [10]:
#平均价格
one_df["price"] = one_df["GROSS COLLECTION"]/one_df["votes"]

In [11]:
#处理演员票房
def total_actor(x):
    return x["ACTOR 1"]+","+x["ACTOR 2"]+","+x["ACTOR 3"]+","+x["ACTOR 4"]
one_df["total_actor"] = one_df.apply(func=total_actor,axis=1)

In [12]:
actor_set = [];
def total_actor(x):
    global actor_set
    actor_set.append(x["ACTOR 1"])
    actor_set.append(x["ACTOR 2"])
    actor_set.append(x["ACTOR 3"])
    actor_set.append(x["ACTOR 4"])
one_df.apply(func=total_actor,axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
988    None
990    None
993    None
996    None
997    None
Length: 738, dtype: object

In [13]:
actor_set = list(set(actor_set))

In [14]:
len(actor_set)

2006

In [15]:
num_count = [0 for i in range(2006)]

In [16]:
#存储数据
def num_coun(one_df):
    global num_count,actor_set
    for i in range(len(actor_set)):
        if actor_set[i] in one_df["total_actor"]:
            num_count[i] += one_df["GROSS COLLECTION"]

one_df.apply(num_coun,axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
988    None
990    None
993    None
996    None
997    None
Length: 738, dtype: object

In [17]:
#连接起来
actor_piaofang = pd.Series(data=num_count,index=actor_set)
actor_piaofang.to_csv("actor_piaofang.csv")

In [18]:
one_df.head()

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION,price,total_actor
0,1,The Shawshank Redemption,1994,15,142,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2603314,28340000.0,10.886124,"Tim Robbins,Morgan Freeman,Bob Gunton,William ..."
1,2,The Godfather,1972,X,175,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1798731,134970000.0,75.036234,"Marlon Brando,Al Pacino,James Caan,Diane Keaton"
2,3,The Dark Knight,2008,12A,152,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2574810,534860000.0,207.727949,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich..."
3,4,The Lord of the Rings: The Return of the King,2003,12A,201,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1787701,377850000.0,211.360848,"Elijah Wood,Viggo Mortensen,Ian McKellen,Orlan..."
4,5,Schindler's List,1993,15,195,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1323776,96900000.0,73.199695,"Liam Neeson,Ralph Fiennes,Ben Kingsley,Carolin..."

In [19]:
one_df.head()

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION,price,total_actor
0,1,The Shawshank Redemption,1994,15,142,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2603314,28340000.0,10.886124,"Tim Robbins,Morgan Freeman,Bob Gunton,William ..."
1,2,The Godfather,1972,X,175,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1798731,134970000.0,75.036234,"Marlon Brando,Al Pacino,James Caan,Diane Keaton"
2,3,The Dark Knight,2008,12A,152,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2574810,534860000.0,207.727949,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich..."
3,4,The Lord of the Rings: The Return of the King,2003,12A,201,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1787701,377850000.0,211.360848,"Elijah Wood,Viggo Mortensen,Ian McKellen,Orlan..."
4,5,Schindler's List,1993,15,195,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1323776,96900000.0,73.199695,"Liam Neeson,Ralph Fiennes,Ben Kingsley,Carolin..."

In [22]:
gener_list = []
def move_(x):
    global gener_list
    list_1 = x.split(",")
    for i in list_1:
        gener_list.append(i)
    

one_df.genre.apply(move_)
gener_list2 = list(set(gener_list))

In [23]:
movie_index = []
def table1(x):
    global movie_index
    for i in range(len(x["genre"].split(","))):
        movie_index.append(x["movie name"])

one_df.apply(table1,axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
988    None
990    None
993    None
996    None
997    None
Length: 738, dtype: object

In [24]:
len(movie_index)

1874

In [25]:
count_list = [ 0 for i in range(34)]
def get_count(x):
    global count_list,gener_list2
    for i in range(len(gener_list2)):
        if gener_list2[i] in str(x["genre"]):
            count_list[i] += x["GROSS COLLECTION"]

one_df.apply(get_count,axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
988    None
990    None
993    None
996    None
997    None
Length: 738, dtype: object

In [26]:
count_list

[2302220000.0,
 23888080000.0,
 43680000.0,
 790950000.0,
 493120000.0,
 3023800000.0,
 853520000.0,
 3274450000.0,
 855610000.0,
 6984850000.0,
 4321320000.0,
 1489540000.0,
 254900000.0,
 6031380000.0,
 4979170000.0,
 1414810000.0,
 9194800000.0,
 3642440000.0,
 8660010000.0,
 9025920000.0,
 29156460000.0,
 6895850000.0,
 3646440000.0,
 24016740000.0,
 19335200000.0,
 27459020000.0,
 1292130000.0,
 44130000.0,
 12895750000.0,
 6048930000.0,
 2013340000.0,
 673850000.0,
 3708650000.0,
 6910230000.0]

In [27]:
genre_count = pd.Series(data=count_list,index=gener_list2)

In [34]:
genre_table= pd.Series(data=gener_list,index=movie_index)
genre_table.to_csv("genre_table.csv")

In [36]:
genre_table

The Shawshank Redemption                Drama
The Godfather                           Crime
The Godfather                           Drama
The Dark Knight                        Action
The Dark Knight                         Crime
                                      ...
From Here to Eternity                 Romance
From Here to Eternity                     War
Snow White and the Seven Dwarfs     Animation
Snow White and the Seven Dwarfs     Adventure
Snow White and the Seven Dwarfs        Family
Length: 1874, dtype: object

In [38]:
one_df["movie name"].duplicated().sum()

1

In [33]:
genre_count.to_csv('genre_count.csv')

In [29]:
#保存
one_df.to_csv("movies.csv")

In [30]:
#读取剧情信息
two_df = pd.read_csv("imdb (1000 tv series) - (june 2022).csv")
#删除索引列
two_df.drop(labels="ranking",axis=1,inplace=True)
#去除空值
two_df.dropna(inplace=True)

In [ ]:
two_df.head()

In [ ]:
#转换时间
two_df["runtime min"] = two_df["runtime"].apply(lambda x:x.rstrip("min"))

In [ ]:
two_df.head()

In [ ]:
#是否续季
two_df["Year"] = two_df["Year"].apply(lambda x:x.replace("-",""))
two_df["sequal"] = two_df["Year"].apply(lambda x: 1 if x[0] == "(" else 0)

In [ ]:
two_df.drop(labels="runtime",axis=1,inplace=True)

In [ ]:
two_df.head()

In [ ]:
#讲括号去除
import re
two_df["Year"] = two_df["Year"].apply(lambda x: x if x[0]!="(" else re.findall(r"\((.*?)\)",x)[0])

In [ ]:
#连播年份
def lasted(x):
    import time
    num1_list = re.findall(r"(\d+)",x)
    if len(num1_list) < 2:
        return 1
    else :
        if num1_list[1] == "":
            return  int(time.strftime("%Y",time.localtime()))- int(num1_list[0])
        else:
            return  int(num1_list[1])- int( num1_list[0])

In [ ]:
two_df["lasted_time"] = two_df["Year"].apply(lasted)

In [ ]:
two_df.head()

In [ ]:
#电视剧上映的第一年
two_df["first_year"] = two_df["Year"].apply(lambda x:x[:4])

In [ ]:
two_df.head()

In [ ]:
two_df.to_csv("series")

In [ ]:
game_cv = pd.read_csv("imdb(VIDEO GAMES).csv")

In [ ]:
game_cv.head()

In [ ]:
#缺失的数据对我们需要分析的影响不大
game_cv.isnull().sum()
game_cv.drop()